div.MuiCalendarPicker-root button.MuiButtonBase-root.Mui-selected {
  background-color: #0a1f44;
}

div.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}

/* Tabs Styles */
.MuiTabs-root .MuiTabs-scroller .MuiTabs-flexContainer {
  justify-content: space-between !important;

  button {
    flex-grow: 1;
    font-family: inherit !important;
    //styleName: Body - Heavy;
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: none !important;

    &.Mui-selected {
      color: var(--color-primary) !important;
    }
  }
}

.MuiTabs-root .MuiTabs-indicator {
  /* left: 0 !important; */
  background-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
  height: 3px;
}

.MuiAvatarGroup-root .MuiAvatar-root {
  width: 3.2rem !important;
  height: 3.2rem !important;
  font-family: inherit !important;
}

.MuiAvatarGroup-root .MuiAvatar-root {
  border: 1px solid #fff !important;
  &:first-child {
    border: 1px solid #3cc13b !important;
  }

  &:nth-child(1) {
    background-color: #3cc13b !important;
    z-index: 4;
    //styleName: Small - Light;
    font-family: SF Pro Text;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
  }
  &:nth-child(2) {
    z-index: 3;
  }
  &:nth-child(3) {
    z-index: 2;
  }
  &:nth-child(4) {
    z-index: 1;
  }
}

// Drawer
.MuiDrawer-root .MuiPaper-root {
  border-radius: 2rem 2rem 0 0;
}
